<h1><%= @product_option.name %> Option List</h1>
<hr />
<%= render :partial => "variation_list" %>
<%= link_to "Edit Product Option" , edit_admin_product_option_path(@product_option), 
	:class => 'btn btn-primary' %>

<%= link_to "Delete Product Option" , admin_product_option_path(@product_option), 
	:class => 'btn', :method => :delete, 
	:confirm => "Are you sure you want to delete this product?" %>


<%= link_to "New Product Option Variation", new_admin_product_option_product_option_variation_path(@product_option) , 
		:class => 'btn btn-primary' %>