<h1>Color list</h1> 
<p class="lead">
	Showing all "<strong><%= @colors.count %></strong>" Color.
</p>
<%= link_to "New Color Option", new_admin_color_path,  :class => 'btn btn-primary' %>
<table class="table table-striped" summary="Color">
	<thead>
		<tr>
			<th>Color Name</th>
			<th>Action</th>
			<th>Created at</th>	
			<th>Last Updated</th>			
		</tr>
	</thead>
	<% @colors.each do |color| %>
	<tr>
		<td>
			<b><%= link_to color.name, admin_color_path(color) %></b>
		</td>	
		<td>
				<%= link_to "", admin_color_path(color) , :class => "icon-search" %>
				<%= link_to "", edit_admin_color_path(color), :class => "icon-pencil" %>
				<%= link_to "", admin_color_path(color), :class => "icon-remove", 
												:method => :delete,
												:confirm => "Are you sure you want to delete this color?"%>
		</td>
		<td><b><%= time_ago_in_words(color.created_at) %> ago<b></td>
		<td><b><%= time_ago_in_words(color.updated_at) %> ago<b></td>
	</tr>
	<% end %>
</table>
