<hr />
<%= simple_form_for [:admin, @product], :html => { :multipart => true } do |f| %>
	<%= f.error_messages %>
	<div class="span3">	
		<%= f.input :name %>
		<%= f.input :code %>
		<%= f.input :price, :placeholder => 'Enter Price in Pound.' %>
		<%= f.input :quantity %>
		<%= f.select :category_id, @categories.map { |s| [s.name, s.id] }, 
					 :selected => @product.category_id %>
	</div>
	<div class="span3">	
		<%= f.input :description %> <hr/>
		<%= f.input :visible, :label => false, :inline_label =>"Show on Website." %><hr/>
		<% number = 0 %>
		<%= render 	:partial => "images/form", :locals => { :number => number } %>
		<%= link_to "Add another image", 'javascript:', :class => "btn", :id => "add_another_image" %> 					
		<br/>		
	</div>
	<%= f.button :submit, :class => 'btn btn-primary' %>
<% end %>