<h1>Product list</h1> 
<p class="lead">
	Showing all "<strong><%= @products.count %></strong>" Products.
</p>
<%= link_to "New Product", new_admin_product_path,  :class => 'btn btn-primary' %>
<hr />
<table class="table table-striped">
		<thead>
			<tr>
				<th>Category Name</th>
				<th>Descrption</th>
				<th>Action</th>
				<th>Last Updated</th>
			</tr>
		</thead>
		<% @products.each do |product| %>
		<tr>
			<td><b><%= link_to product.name, admin_product_path(product.id) %></b></td>
			<td><%= product.description %></td>
			<td>
					<%= link_to "", admin_product_path(product.id) , :class => "icon-search" %>
					<%= link_to "", edit_admin_product_path(product.id), :class => "icon-pencil" %>
					<%= link_to "", admin_product_path(product.id), :class => "icon-remove", 
													:method => :delete,
													:confirm => "Are you sure you want to delete this product?"%>
			</td>
			<td><b><%= time_ago_in_words(product.updated_at) %> ago<b></td>
		</tr>
		<% end %>
</table>
<hr/>


