
<% if @product.images.exists? %>
	<div class="images">
		<ul class="thumbnails" >
		<% @product.images.each do |image| %>
			<li class="span3" style="overflow:hidden">
				<%= link_to image_tag(image.image.url), image.image.url %>
							
			</li>
		<% end %>
		</ul>
	</div>
<% end %>

<h1><%= @product.name %></h1>
<h2>Code: <%= @product.code %></h2>
<% unless @product.price.nil? %>
	<h3>Price: £ <%= @product.price %>(GBP)</h3>
<% end %>
<p class="lead"><%= @product.description %></p>	
<p>From Category <b><%= @product.category.name %></b></p>	

<%= link_to "Edit Product" , edit_admin_product_path(@product) , 
	:class => 'btn btn-primary' %>

<%= link_to "Delete Product" , admin_product_path(@product), 
	:class => 'btn', 
	:method => :delete, 
	:confirm => "Are you sure you want to delete this product?" %>