<h1><%= @category.name %></h1>
<b><%= @category.description %></b>
<hr />
<ul id="products" class="thumbnails">
	<% @products.each do |product| %>		
		<li class="span3">
				<div>	
						<% if product.images.exists? %>		
							<% product.images.each do |image| %>				
									<%= link_to image_tag((image.image.url)), [@category, product] %>			
							<% end %>			
						<% else %>		
								<%= link_to image_tag("default_thumb.jpg"), [@category, product] %>		
						<% end %>					
				</div>
			<br /> 
			<b>Design No <%=product.code %><br /> 
			<%= number_to_currency(product.price, :unit => "£") %></b>
			<p><%= truncate(product.description, :length => 35) %></p>
		</li>		
	<% end %>
<ul>
<br class="clear">