
<% if @product.images.exists? %>
	<div class="images">
		<ul class="thumbnails" >
		<% @product.images.each do |image| %>
			<li>
				<%= link_to image_tag(image.image.url), image.image.url %>							
			</li>
		<% end %>
		</ul>
	</div>
<% end %>

<h1><%= @product.name %></h1>
<b>Code: <%= @product.code %></b>
<% unless @product.price.nil? %>
	<b>Price: £ <%= @product.price %> (GBP)</b>
<% end %>
<p class="lead"><%= @product.description %></p>