<ul id="products" class="thumbnails">
	<li class="span4">
		<div id="product_images">	
				<% if @product.images.exists? %>		
					<% @product.images.each do |image| %>				
							<%= link_to image_tag((image.image.url), :width => 370), '' %>			
					<% end %>			
				<% else %>		
						<%= image_tag "default_large.jpg", :width => 370 %>		
				<% end %>
		</div>
	</li>
	<li class="span4">
		<h1>Code: <%= @product.code %></h1><hr />
		<% unless @product.price.nil? %>
			<h2>Price: <%= number_to_currency(@product.price, :unit => "£") %> </h2>
		<% end %>
		
		<p><%= @product.description %></p><hr />
		
		<% if @product.sizes.exists? %>	
			<h2>Select Size </h2>
			<% @product.sizes.each do |size| %>
				<button class="btn btn-large"><%= size.name %></button>
			<% end %>
			<hr />
		<% end %>
		
		<% if @product.colors.exists? %>	
			<h2>Select Color </h2>
			<% @product.colors.each do |color| %>
				<button class="btn btn-large"><%= color.name %></button>
			<% end %>
			<hr />
		<% end %>	
		<%= render 'stock_chart' %>	
			
	</li>	
</ul>

