<div id="header_link">
	<b><% if user_signed_in? %>
		Signed in as <%= current_user.email %> <br />
		<%= link_to "Sign out", destroy_user_session_path %>
	<% else %>
		<%= link_to "Sign up", new_user_registration_path %>
		<%= link_to "Sign in", new_user_session_path %>
	<% end %>
	<%= admins_only do %>
		<%= link_to "Admin", admin_root_path %>
	<% end %>
	</b>
</div>
