<header>
<h1><%= link_to "Ticketee", root_path %></h1>	
	<nav>
		<% if user_signed_in? %>
			Welcome <%= current_user.email %> | <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
		<% else %>
			<%= link_to "Sign up", new_user_registration_path %>
			<%= link_to "Sign in", new_user_session_path %>
		<% end %>
		
		
		<%= admins_only do %>
			<%= link_to "Admin", admin_root_path %><br>
		<% end %>
	</nav>
</header>
