<header>
	<nav>
		<li id="logo">
			<h1><%= link_to "", root_path %></h1>
		</li>
		<li>
			<%= link_to "Home", root_path %>
			<span>Back to rupali Home page.</span>
		</li>
		<li>
			<%= link_to "Ladies", root_path %>
			<span>Saree, Chridar, Salwar, Tunics...</span>
		</li>
		<li>
			<%= link_to "Mens", root_path %>
			<span>Kurta, Sherwani, Mojadi...</span>
		</li>
		<li>
			<%= link_to "Boys", root_path %>
			<span>Kurta, Sherwani, footwear...</span>
		</li>
		<li>
			<%= link_to "Girls", root_path %>
			<span>Saree, Chridar, Salwar, Tunics...</span>
		</li>
		<li>
			<%= link_to "Offer", root_path %>
			<span>On sales, offer of the week...</span>
		</li>		
	</nav>
	
	<div id="hide_menu">		
		<div class="menu_tooltip" style="display: block; opacity: 0; ">
	    	<div class="tooltip_hide"><p style="opacity: 0; ">Hide the navigation</p></div>
			<div class="tooltip_show"><p style="opacity: 0; ">Show the navigation</p></div>
		</div>  
    </div>
</header>
