<!DOCTYPE html>
<html>
<head>
  	<title>
		<% if content_for?(:title) %>
			<%= yield(:title) %>
		<% else %>
			Ticketee
		<% end %>
	</title>
	
	  <%= stylesheet_link_tag 'blueprint/print', 'media' => 'print' %>
	  <%= stylesheet_link_tag 'screen', 'media' => 'screen' %>
	  <!--[if lt IE 8]>
	    <%= stylesheet_link_tag 'blueprint/ie' %>
	  <![endif]-->
      <%= stylesheet_link_tag    'application' %>
	  <%= javascript_include_tag 'application' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
				
		<%= render 'layouts/header' %>		
		<section>
			<% flash.each do |key, value| %>
				<div id='flash' class='<%= key %>'>
					<%= value %>
				</div>
			<% end %>			
			<!--<div id="banner"></div>
			<br class="clear" />-->
			
			<%= yield %>			
		</section>
				
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>
	
</body>
</html>
