<!DOCTYPE html>
<html>
<head>
  	<title>
		<% if content_for?(:title) %>
			<%= yield(:title) %>
		<% else %>
			Ticketee
		<% end %>
	</title>
	
	  <%= stylesheet_link_tag 'blueprint/print', 'media' => 'print' %>
	  <%= stylesheet_link_tag 'screen', 'media' => 'screen' %>
	  <!--[if lt IE 8]>
	    <%= stylesheet_link_tag 'blueprint/ie' %>
	  <![endif]-->
      <%= stylesheet_link_tag    'application' %>
	  <%= javascript_include_tag 'application' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
				
		<%= render 'layouts/header' %>		
		<section>
			<% flash.each do |key, value| %>
				<div id='flash' class='<%= key %>'>
					<%= value %>
				</div>
			<% end %>			
			<!--<div id="banner"></div>
			<br class="clear" />
			<p>
				Meme is a new kind of blogging platform, smarter and simpler. We believe the tool that you use to create your posts shouldn't let you have a hard time when things could be easy. It shouldn't make you do repetitive and tedious tasks unnecessarily.
			</p>-->
			<%= yield %>			
		</section>
				
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>
	
</body>
</html>
