<table class="table table-striped" summary="User products">
	<thead>
		<tr>
			<th>Color</th>
			<th>Size</th>
			<th>Stock</th>
			<th>Action</th>					
		</tr>
	</thead>	
	<% @color_sizes.each do |cs| %>
		<tr>
			<td><b>	<%=cs.color %></b></td>
			<td><b>	<%= cs.size %></b></td>
			<td><b>	<%= cs.quantity %></b></td>
			<td>
				<%= link_to "", admin_product_color_size_path(@product, cs), :class => "icon-search" %>
				<%= link_to "", edit_admin_product_color_size_path(@product, cs), :class => "icon-pencil" %>
				<%= link_to "", admin_product_color_size_path(@product, cs), :class => "icon-remove", 
															:method => :delete,
															:confirm => "Are you sure you want to delete this product?"%>
			</td>								
		</tr>		
	<% end %>	
</table>

