<%= simple_form_for [:admin, @product, @color_size] do |f| %>
	<%= f.error_messages %>
	<div class="span3"><%= f.association :color, :as => :radio_buttons  %></div>
	<div class="span3"><%= f.association :size, :as => :radio_buttons  %></div>
	<%= f.input :quantity %>
	<%= f.button :submit, :class => 'btn' %>
<% end %>

